<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加学生信息</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<form th:action="@{/student/add}" method="post">
    <table>
        <tr>
            <th colspan="2">添加学生信息</th>
        </tr>
        <tr>
            <td>Sno</td>
            <td>
                <input type="text" name = "Sno">
            </td>
        </tr>
        <tr>
            <td>Sname</td>
            <td>
                <input type="text" name = "Sname">
            </td>
        </tr>
        <tr>
            <td>Sage</td>
            <td>
                <input type="text" name="Sage">
            </td>
        </tr>
        <tr>
            <td>Sdept</td>
            <td>
                <input type="text" name = "Sdept">
            </td>
        </tr>
        <tr>
            <td>Ssex</td>
            <td>
                <input type="radio" name = "Ssex" value="男">男
                <input type="radio" name = "Ssex" value="女">女
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="添加">
            </td>
        </tr>
    </table>
</form>
</body>
</html>